*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  background-image: url(img/About-Us.jpg);
  height:99vh;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position:top center;
  background-size: max(1000px, 100vw);
  box-sizing: border-box;
  animation: slideshow 10s linear infinite;
}
@keyframes slideshow {
  0%, 25%{
    background-image: url(img/main-photo-for-website-home-page.jpg);
    
  }
  28%, 50%{
    background-image: url(img/About-Us.jpg);
  }
  55%, 70%{
    background-image: url(img/slideshow3.jpg);
  }
  75%, 100%{
    background-image: url(img/slideshow1.jpg);
  }

}
.bg{
  height: 99vh;
  /* width: 100vw; */
  position: relative;
  background-color: black;
  opacity: 0.40;

}
.nav{
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 10;
  margin: 15px;
}
.nav ul{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* justify-content: space-between; */
}
.nav img{
  height: 150px;
/* width: 150px; */
/* margin: 10px 150px; */

}
.nav li a {
  list-style: none;
  color: white;
  text-decoration: none;
  /* position: fixed; */
}

.nav li:hover{
  transform: scale(1.1);
  transition: all ease-in-out 0.4s;
}
.btn{
  background-color: rgb(125, 9, 9);
  margin: 2px solid  rgb(125, 9, 9);
  color: white;
  padding: 12px;
  font-family: sans-serif;
  cursor: pointer;
}
.text{
  margin-top: 100px;
  height: 60vh;
  /* background-color: red;  */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
   flex-direction: column;
   
}
.text h1{
  z-index: 10;
  color: white;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* padding: 8px; */
}
.text h2{
  z-index: 10;
  color: white;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 15px;
}
.text p{
  z-index: 10;
  color: white;
  padding: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.btn{
  background-color: rgb(125, 9, 9);
  /* margin: 2px solid  rgb(125, 9, 9); */
  color: white;
  padding: 10px 20px;
  font-family: sans-serif;
  cursor: pointer;
  z-index: 10;
  outline: none;
  border: none;
  border-radius: 5px;
}
.btn:hover{
  transform: scale(1.1);
  transition: all ease-in-out 0.5s;
}

/* Body Part */
.body{
  height: 55vh;
  animation: transitionin 1.5s;
  width: 100%;
  /* background-color: red; */
}
@keyframes transitionin {
  from{
    opacity: 0;
    transform: rotateX('-10deg');
  }
  to{
    opacity: 1;
    transform: rotateX('0');
  }
}
.bdytext{
  /* display: flex; */
  margin: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.bdytext>:nth-child(1){
  color: rgb(111, 0, 0);
  margin-bottom: 40px;
  font-size: 3rem;
}
.bdytext p{
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.rem{
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 30px;
  /* background-color: aqua; */
  color: rgb(111, 0, 0);
}
.rm{
  display: flex;
  flex-direction: row;
  height: 55vh;
  justify-content: space-around;
  /* background-color: red; */
}
.room{
  display: flex;
  flex-direction: column;
 margin: 15px;
  height: 50vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
}
.txt{
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  align-items: center;
}
.room img{
  height: 300px;
  width: 320px;
  box-shadow: 0 4px 6px -1px black;
  border-radius: 10px;
  cursor: pointer;
  transition: 1.1s;
}
.room img:hover{
  transform: scale(1.1);
  transition: all ease-in-out 0.4s;
}

.room h4{
  margin-top: 10px;
  /* padding: 10px; */
  
  /* background-color: red; */
}
.bn{
  background-color: rgb(125, 9, 9);
  margin: 5px;
  color: white;
  padding: 10px 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
transition: all ease-in-out;
  border: none;
  border-radius: 5px;
}
.bn:hover{
  transform: scale(1.1);
  transition: all ease-in-out 0.5s;
}
.container{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  /* justify-content: space-around; */
  gap: 50px;
  /* background-color: red; */


}
.container img{
  /* background-color: red; */
  /* justify-content: space-between; */
margin-top: 50px;
  height: 150px;
  width: 150px;
}
.container p{
  text-align: center;
}
.three{
  height: 87vh;
  background-image: url(img/swimming-pool.jpg);
  margin-top: 50px;
  width: 100%;
  background-color: black;
  position: absolute;
  background-repeat: no-repeat;
  background-position:center;
  background-size: max(1000px, 100vw);
  box-sizing: border-box;
  /* align-items: center; */

  
  /* margin-top: 20px; */
  /* width: 100vw; */
}
.bx{
  height: 87vh;
  /* width: 100vw; */
  position: relative;
  background-color: black;
  opacity: 0.44;

}
.yt{
  position: absolute;
  margin: 100px 400px;
  z-index: 10;
}
.last{
  height: 95vh;
  /* background-color: green; */
}
.footer{
  display: flex;
  justify-content: space-around; 
  height: 90vh;
  width: 100%;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(27, 162, 199);
}
.logo{
  display: flex; 
  margin: 40px;
  /* justify-content: center;  */
  flex-direction: column;
  /* margin-top: 30px; */
  /* background-color: red; */
}
.logo img{
height: 150px;
width: 150px;
margin: 10px 150px;

}
.logo p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  /* background-color: red; */
}
.logo>:nth-child(3){
  margin-bottom: 30px;

}
.social{
  width: 100%;
  padding: 50px 70px;
  justify-content: center;
}
.social a{
  text-decoration: none;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 50%;
}
.social a i{
  /* font-size: 1em; */
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
.social a:hover{
  background-color: rgb(0, 17, 255);
  transition: 0.5s;
}
.social a:hover i{
  color: aliceblue;
  transition: 0.5s;
}
.con{
  cursor: pointer;
}
.con:hover{
  color: greenyellow;
  transition: 0.1s;
}

.mao{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90vh;
  align-items: center;
  /* background-color: rgb(24, 23, 23); */
}
.mao h2{
  text-align: center;
  margin: 30px;

}
.map-container iframe{
  border-radius: 10px;
}
.la{
  display: flex;
  color: white;
  flex-direction: column;
  height: 10vh;
  background-color: rgb(6, 76, 109);
  align-items: center;
  justify-content: center;
}
.la p{
  font-size: 0.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.la span{
  cursor: pointer;
  /* color: blue; */
}
.la span:hover{
  color: rgb(255, 0, 0);
  transition: ease-in-out;
}
.whatsappfloat{
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 20px;
  /* left: 0px; */
}
.whatsappfloat:hover{
  transition: 0.4s ease-in-out;
  transform: scale(1.2);
}